name: Delete Bunnyshell Environment
on:
  workflow_call:
    inputs:
      runs-on:
        description: The Platform to execute on
        type: string
        default: ubuntu-latest
      project-id:
        description: The Bunnyshell Project to use
        required: true
        type: string
      env-id:
        description: The ID of the Environment to delete
        type: string
      env-name:
        description: The name of the Environment to delete
        type: string
      allowed-users:
        description: The list of the allowed usernames (JSON list). Use '*' for all users.
        type: string
      comment-on-pr:
        description: Write PR comments
        type: boolean
        default: false
      bunnyshell-cli-version:
        description: The version of the Bunnyshell CLI to use
        type: string
        default: v0.16.0
    secrets:
      bunnyshell-access-token:
        required: true
    outputs:
      env-id:
        description: The ID of the Environment
        value: ${{ jobs.delete.outputs.env-id }}
permissions:
  pull-requests: write
jobs:
  validations:
    name: Validate inputs
    if: ${{ github.event_name != 'issue_comment' || (
        github.event.issue.pull_request
        && contains(github.event.comment.body, '/bns:delete')
        && (inputs.allowed-users == '*'
          || contains(fromJSON(inputs.allowed-users), github.event.sender.login)
          || github.event.issue.user.login == github.event.sender.login
        )
      )}}
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Validate env ID or name
        if: "${{ inputs.env-id == '' && inputs.env-name == '' }}"
        run: |
          echo "One of env-id or env-name inputs is required."
          exit 1
  delete:
    name: Delete Environment
    needs: validations
    runs-on: ${{ inputs.runs-on }}
    outputs:
      env-id: ${{ inputs.env-id || env.BNS_ENV_ID }}
    steps:
    - name: Search for Environment
      uses: addnab/docker-run-action@v3
      if: ${{ inputs.env-name != '' }}
      with:
        image: bunnyshell/cli:${{ inputs.bunnyshell-cli-version }}
        options: -e BUNNYSHELL_TOKEN=${{ secrets.bunnyshell-access-token }} -v ${{ github.env }}:/github/envs.txt
        run: |
          set -e

          BNS_ENV_ID=`bns environments list --search "${{ inputs.env-name }}" --project ${{ inputs.project-id }} --non-interactive -o json \
            | jq -r "try ._embedded.item[0].id | select (.!=null)"`
          
          if [ -z "$BNS_ENV_ID" ]; then
            echo "Could not find environment with name '${{ inputs.env-name }}'"
          
            echo "ERROR_MESSAGE=Could not find environment with name '${{ inputs.env-name }}'." >> /github/envs.txt
          fi
          
          echo "BNS_ENV_ID=$BNS_ENV_ID" >> /github/envs.txt
    - name: Delete Environment
      uses: addnab/docker-run-action@v3
      if: ${{ env.BNS_ENV_ID }}
      with:
        image: bunnyshell/cli:${{ inputs.bunnyshell-cli-version }}
        options: >
          -e BUNNYSHELL_TOKEN=${{ secrets.bunnyshell-access-token }}
          -e BUNNYSHELL_ENVIRONMENT=${{ inputs.env-id || env.BNS_ENV_ID }}
        run: |
          
          BNS_ENV_ID=`bns environments show --non-interactive -o json | jq -r '.id'`
          if [ "$BNS_ENV_ID" = "null" ]; then
            echo "Could not find environment '$BUNNYSHELL_ENVIRONMENT'."

            echo "ERROR_MESSAGE=Could not find environment '$BUNNYSHELL_ENVIRONMENT'." >> /github/envs.txt
          
            exit 1
          fi
          
          ENV_OPERATION_STATUS=`bns environments show --non-interactive -o json | jq -r '.operationStatus'`
          if [ "$ENV_OPERATION_STATUS" != "stopped" ] && [ "$ENV_OPERATION_STATUS" != "running" ] && [ "$ENV_OPERATION_STATUS" != "draft"] && [ "$ENV_OPERATION_STATUS" != "aborted" ]; then
            echo "ERROR_MESSAGE=The Environment cannot be deleted right now. The current operation status is '$ENV_OPERATION_STATUS'." >> /github/envs.txt

            echo "The Environment cannot be deleted right now. The current operation status is '$ENV_OPERATION_STATUS'."
            exit 1
          fi
          
          bns environments delete --non-interactive -o stylish
    - name: Comment PR Environment deleted
      uses: thollander/actions-comment-pull-request@v2
      if: ${{ inputs.comment-on-pr && env.BNS_ENV_ID }}
      with:
        message: |
          ### Bunnyshell Preview Environment deleted

          Available commands:
            - `/bns:deploy` to redeploy the environment
        comment_tag: bunnyshell-preview-env
    - name: Comment PR Environment deleting failed
      if: ${{ failure() && inputs.comment-on-pr }}
      uses: thollander/actions-comment-pull-request@v2
      with:
        message: |
          ### Bunnyshell Preview Environment deleting failed
          
          ${{ env.ERROR_MESSAGE }}

          Check ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }} for details.

          Available commands:
          - `/bns:deploy` to redeploy the environment
          - `/bns:delete` to remove the environment
        comment_tag: bunnyshell-preview-env
